#caseSectionMain1 {
    margin-top: 25px !important;
    margin-bottom: 25px;
}

@media screen and (max-width: 992px) {
    #caseSectionMain1 .textContainer {
        padding: 54px !important;
    }

    #caseSectionMain1 .caseSectionMain1 {
        padding-top: 0px !important;
    }

    #caseSectionMain1 .caseImg {
        max-width: unset !important;
        width: 100% !important;
        opacity: 1;
        object-fit: padding-box;
        object-position: no-repeat;
        --bs-gutter-x: 0px !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    #caseSectionMain1 .imgMain {
        max-width: unset !important;
        width: 100% !important;
        opacity: 1;
        object-fit: padding-box;
        object-position: no-repeat;
    }
}

@media screen and (max-width: 475px) {
    #caseSectionMain1 .textContainer {
        padding: 24px !important;
    }
}

#caseSectionMain1 .containerSection {
    margin-top: 45px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    gap: 89px;
}

#caseSectionMain1 .caseImg {
    max-width: 740px;
    min-height: 579px !important;
    opacity: 1;
}

#caseSectionMain1 .imgMain {
    max-height: 667px;
    min-height: 579px !important;
    opacity: 1;
}

#caseSectionMain1 .textContainer {
    padding: 13px 13px 0px 54px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 83px;
    text-align: left;
    font-size: var(--font-size-41xl);
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#caseSectionMain1 .textContainer2 {
    font-family: var(--font-SpaceTTF) !important;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
    font-size: 1.5rem;
    color: #001328;
    margin-top: 49px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#caseSectionMain1 .textContainer2 p {
    text-align: left;
    font-family: var(--font-SpaceTTF) !important;
    margin-bottom: 0.813rem;
    line-height: 2.125rem;
    font-weight: 300;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
}

#caseSectionMain1 .textContainer2 b {
    font-family: var(--font-SpaceTTF) !important;
    font-weight: 600;
}

#caseSectionMain1 .textContainer2 h2 {
    font-family: var(--font-SpaceTTF) !important;
    color: var(--color-forestgreen);
    font-weight: 600;
}

#caseSectionMain .caseTextContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 49px;
    text-align: left;
    font-size: var(--font-size-41xl);
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 1;
}

#caseSectionMain1 .caseTitleContainer {
    font-family: var(--font-SpaceTTF) !important;
    text-align: left;
}

#caseSectionMain1 .caseTitleContainer h2 {
    font-family: var(--font-SpaceTTF) !important;
    margin: 0;
    font-size: 3.75rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0px;
    color: #53993C;
    opacity: 1;
}

@media screen and (min-width:992px) {
    #caseSectionMain1 .row {
        align-items: center;
    }

    #caseSectionMain1 .container-fluid {
        margin-left: -13px !important;
        padding: 0px !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width: 993px) and (max-width: 1750px) {
    #caseSectionMain1 .container-fluid {
        margin-right: auto !important;
    }
}

@media screen and (min-width:1751px) {
    #caseSectionMain1 .row {
        align-items: center;
    }
}

#caseSectionMain1 .caseDesc {
    font-family: var(--font-SpaceTTF) !important;
    text-align: left;
    color: #001328;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

#caseSectionMain1 .caseDesc h4 {
    font-family: var(--font-SpaceTTF) !important;
    font-size: 1.625rem;
    font-weight: 600;
    text-align: left;
}

#caseSectionMain1 .caseDesc p {
    font-family: var(--font-SpaceTTF) !important;
    margin-bottom: 0.813rem;
    padding-bottom: 0.813rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
    text-align: left;
}

.caseSectionMain1 {
    padding: 6px 20px 20px 20px;
}

.caseSectionMain1 p {
    font-size: 1.5rem !important;
    text-align: left;
}

.caseSectionMain1 h2 {
    font-size: 3.75rem !important;
    text-align: left;
}

#caseSectionQuote .quoteIcon {
    display: flex;
    flex-shrink: 2 !important;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 67px;
    max-height: 54px;
    object-fit: cover;
    margin-bottom: 19px;
    position: relative;
}

@media screen and (max-width: 525px) {
    #caseSectionQuote .quoteTextContent .quoteIcon {
        width: 50px;
    }

    #caseSectionQuote .quoteIcon {
        position: relative;
        max-width: 50px;
        max-height: 40px;
        object-fit: cover;
        margin-bottom: 19px;
    }

    #caseSectionQuote .imgMain {
        position: relative;
        min-width: unset !important;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    #caseSectionQuote .imgMain {
        min-width: 741px;
        opacity: 1;
    }

    .caseSectionMain1 {
        font-size: 1.25rem !important;
        padding: 6px 40px 40px 40px;
    }

    .caseSectionMain1 p {
        font-size: 1.25rem !important;
    }

    .caseSectionMain1 h2 {
        font-size: 3.5rem !important;
    }
}

@media (min-width: 992px) {
    .caseSectionMain1 {
        font-size: 1.5rem !important;
        padding: 60px;
    }

    .caseSectionMain1 p {
        font-size: 1.5rem !important;
    }

    .caseSectionMain1 h2 {
        font-size: 3.75rem !important;
    }
}

#caseSectionQuote {
    margin-top: 200px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-gray-200);
    font-family: var(--font-SpaceTTF) !important;
}

#caseSectionQuote .quoteTextContent {
    max-width: 793px;
    margin-top: 10px;
    display: inline;
    line-height: 13px;
    margin-bottom: 34px;
    text-align: left;
    font-family: var(--font-SpaceTTF) !important;
    font-size: 1.375rem;
}

#caseSectionQuote .quoteTextContent .quoteIcon {
    width: 67px;
}

#caseSectionQuote .quoteBgn {
    width: 67px;
    max-height: 54px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 1px;
    margin-bottom: 19px;
}

#caseSectionQuote .quoteTextContent p {
    font-family: var(--font-SpaceTTF) !important;
    margin: 0;
    position: relative;
    line-height: 34px;
    font-weight: 300;
    display: flex;
    flex-shrink: 2;
}

#caseSectionQuote .quoteTextContent2 {
    line-height: 13px;
    text-align: left;
    font-size: 1.375rem;
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 2;
    margin-bottom: 34px;
}

#caseSectionQuote .quoteTextContent2 p {
    font-family: var(--font-SpaceTTF) !important;
    line-height: 34px;
    font-weight: 300;
    flex-shrink: 2;
    margin-bottom: 34px;
}

#caseSectionQuote .quotedNomePessoa {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
}

#caseSectionQuote .quotedNomePessoa2 {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
}

#caseSectionQuote .quotedNomePessoa2 h6 {
    margin: 0;
    font-size: inherit;
    line-height: 34px;
    font-weight: 400;
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 2;
}

#caseSectionQuote .quotedNomePessoa h6 {
    margin: 0;
    font-size: inherit;
    line-height: 34px;
    font-weight: 400;
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 2;
}

#caseSectionQuote .quoteTextContent,
.quoteTextContent2,
.quoteNomePessoa {
    font-family: var(--font-SpaceTTF) !important;
}

.caseSectionQuote h2 {
    font-size: 2.5rem;
}

.caseSectionQuote h6 {
    font-size: 1.25rem;
    color: black;
}

.caseSectionQuote .card-subtitle p {
    font-size: 10px;
}

.caseSectionQuote .card-subtitle .subtitleSpanExtra2 {
    display: none;
}

.caseSectionQuote .card-subtitle .subtitleSpanExtra1 {
    display: none;
}

.caseSectionQuote .card {
    margin-bottom: 20px;
}

.caseSectionQuote .card img {
    max-width: 100%;
    height: auto;
}

@media (max-width:426px) {
    #caseSectionQuote {
        padding-top: 0.5rem;
    }

    #caseSectionQuote p {
        text-align: justify;
    }

    #caseSectionQuote .quoteIcon {
        max-width: 57px;
        max-height: 46px;
    }
}

@media (max-width: 767px) {
    .quotedNomePessoa h6 {
        font-size: 2rem;
    }

    #caseSectionQuote p {
        text-align: justify;
    }

    .quotedNomePessoa2 h6 {
        font-size: 2rem;
    }


    .textoQuote,
    .quoteNomePessoa h3 {
        font-size: 0.9rem;
    }

    .quoteCarouselContainer {
        padding: 20px;
    }

    #caseSectionQuote .quoteTextContent p {
        font-size: 1rem;
    }

    #caseSectionQuote .quoteTextContent2 p {
        font-size: 1rem;
    }
}

@media (max-width:1201px) {
    #caseSectionQuote .quoteTextContent2 p {
        line-height: 34px;
        font-weight: 300;
        flex-shrink: 2;
        margin-bottom: 34px;
    }

    #caseSectionQuote .quoteTextContent p {
        line-height: 34px;
        font-weight: 300;
        flex-shrink: 2;
        margin-bottom: 12px;
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    .sectionTitle h2 {
        font-size: 3rem;
    }

    #caseSectionQuote .quotedNomePessoa2 h6 {
        font-size: 1.5rem;
    }

    #caseSectionQuote .quotedNomePessoa h6 {
        font-size: 1.5rem;
    }

    #caseSectionQuote .quoteTextContent p {
        font-size: 1.2rem;
    }

    #caseSectionQuote .quoteTextContent2 p {
        font-size: 1.2rem;
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .textoQuote {
        font-size: 1.1rem;
    }

    .quoteNomePessoa h3 {
        font-size: 46px;
    }

    .quoteCarouselContainer {
        padding: 60px;
    }

    #caseSectionQuote .quoteTextContent p {
        font-size: 1.25rem;
    }
}

@media (min-width:1204px) {
    .quoteNomePessoa h3 {
        font-size: 58px;
    }
}

@media (min-width: 1400px) {
    .nextImgPessoa img {
        display: flex;
    }
}

#caseSectionContato {
    background-image: url(../../public/caseIcomSectionContatoBGImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 386px;
}

#caseSectionContato .containerMid {
    padding: 63px 0px 62px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#caseSectionContato .textTop {
    padding-bottom: 12px !important;
}

#caseSectionContato .textTop h5 {
    font-size: 1.35rem;
    line-height: 34px;
    font-weight: 400;
    font-family: var(--font-SpaceTTF) !important;
    display: inline-block;
    max-width: 794px;
    min-height: 73px;
    flex-shrink: 2;
    color: #fff;
}

#caseSectionContato .textBot {
    min-height: 98px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}

#caseSectionContato .containerRowler {
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
}

#caseSectionContato .textBot p {
    font-size: 1.5rem;
    color: var(--color-forestgreen);
}

#caseSectionContato .iconContato {
    max-height: 1.85rem;
}

@media (max-width:469px) {
    #caseSectionContato .iconContato {
        max-height: 1.5rem;
    }

    #caseSectionContato .textBot p {
        font-size: 1rem;
        color: var(--color-forestgreen);
    }

    #caseSectionContato .containerRowler {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        gap: 0px;
        align-items: flex-start;
    }
}

#caseSectionCard .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}


#caseSectionCard {
    text-align: left;
    font-size: var(--font-size-41xl);
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(83, 153, 60, 0.04);
}

#caseSectionCard .topPositioner {
    top: 85px;
}

#caseSectionCard .maxHeigther {
    max-height: 969px !important;
}

#caseSectionCard .row {
    position: relative;
    font-size: var(--font-size-41xl);
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

#caseSectionCard .card {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #3B984839;
    border-radius: 25px;
    opacity: 1;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: none !important;
    max-width: 1364px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: start;
    gap: 25px;
}

@media screen and (min-width:376px) and (max-width:572px) {
    #caseSectionCard .card-body {
        padding: 36px !important;
    }
}

@media (max-width: 375px) {
    #caseSectionCard .card-body {
        display: flex;
        height: 100% !important;
        padding: 70px 16px;
        gap: 11px;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:573px) {
    #caseSectionCard .card-body {
        padding: 77px !important;
    }
}

@media (min-width: 768px) {

    #caseSectionCard .container,
    .container-md,
    .container-sm {
        max-width: unset !important;
    }
}

@media (min-width: 576px) {

    #caseSectionCard .container,
    .container-sm {
        max-width: unset !important;
    }
}

#caseSectionCard .card-body {
    display: flex;
    height: 100% !important;
    gap: 11px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#caseSectionCard .card-title {
    font-weight: 600;
    font-size: 60px;
    text-align: left;
    letter-spacing: 0px;
    color: #53993C;
    opacity: 1;
}

#caseSectionCard .card-title h2 {
    font-weight: 600;
}

#caseSectionCard .card-subtitle {
    margin: 0;
    line-height: 32px;
    font-weight: 300;
    display: inline;
}

#caseSectionCard .card-subtitle p {
    margin: 0;
    line-height: 32px;
    font-weight: 300;
    display: inline;
    font-size: 1.5rem;
}

#caseSectionCard .card-description {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 24px;
    color: #001328;
    gap: 32px;
    justify-content: flex-start;
}

#caseSectionCard .ulStyleCard {
    margin: 0;
    position: relative;
    line-height: 32px;
    font-weight: 300;
    display: inline-block;
    list-style: none;
    padding: 1rem !important;
    flex-shrink: 2;
}

.liStyleCard {
    position: relative;
    margin-bottom: 17px;
    line-height: 32px;
}

#caseSectionCard ul,
#caseSectionCard li,
#caseSectionCard a {
    padding: 0px;
    text-decoration: none !important;
    list-style: none !important;
}

#caseSectionCard .card-text li::before {
    content: "•";
    color: #53993c;
    padding-right: 1rem;
}

#caseSectionCard .card-text,
#caseSectionCard .card-title,
#caseSectionCard .card-subtitle {
    font-family: var(--font-SpaceTTF) !important;
}

#caseSectionCard h6 {
    font-weight: 600;
}

.caseSectionCard h6 {
    font-size: 1.25rem;
    color: var(--color-forestgreen);
}

.caseSectionCard .card-subtitle p,
.caseSectionCard li {
    font-size: 10px;
}

.caseSectionCard .card-subtitle .subtitleSpanExtra2 {
    display: none;
}

.caseSectionCard .card-subtitle .subtitleSpanExtra1 {
    display: none;
}

.caseSectionCard .card {
    margin-bottom: 20px;
}

.caseSectionCard .card img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width:376px) and (max-width:572px) {
    #caseSectionCard .card-body {
        padding: 36px !important;
    }
}

@media (max-width: 375px) {
    #caseSectionCard .card-body {
        display: flex;
        height: 100% !important;
        padding: 70px 16px;
        gap: 11px;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}


@media screen and (min-width: 774px) {
    .caseSectionCard {
        font-size: 1.25rem;
    }

    .caseSectionCard h2 {
        font-size: 2.75rem;
    }

    .caseSectionCard h6 {
        font-size: 2.25rem;
    }

    #caseSectionCard .card-subtitle {
        font-size: 2.75rem !important;
        font-weight: 600;
    }

    #caseSectionCard .card-subtitle h2 {
        font-size: 2.75rem !important;
        font-weight: 500;
    }

    .caseSectionCard p {
        font-size: 1.5rem !important;
    }

    .caseSectionCard .card .liStyleCard {
        font-size: 1.5rem !important;
        font-weight: 300;
    }

    .caseSectionCard .card-subtitle .subtitleSpanExtra1 {
        display: flex;
    }

    .caseSectionCard .card-subtitle .subtitleSpanExtra2 {
        display: none;
    }

    .caseSectionCard .card {
        margin-bottom: 40px;
    }
}

@media (min-width: 1240px) {
    .caseSectionCard p {
        font-size: 1.5rem;
    }

    .caseSectionCard h2 {
        font-size: 4rem;
    }

    .caseSectionCard h6 {
        font-size: 3.25rem;
        text-align: left;
    }

    #caseSectionCard .card-subtitle h2 {
        font-size: 3.45rem !important;
    }

    .caseSectionCard .card p {
        font-size: 1.5rem !important;
    }

    .caseSectionCard .card .liStyleCard {
        font-size: 1.5rem !important;
    }

    .caseSectionCard .card-subtitle .subtitleSpanExtra2 {
        display: flex;
        flex-shrink: 3;
    }

    .caseSectionCard .card img {
        border-radius: 50%;
    }

    .caseSectionCard .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 40px;
        padding-right: 28px;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1400px) {

    #caseSectionQuote .topContainerQuote .container,
    #caseSectionQuote .topContainerQuote .container-lg,
    #caseSectionQuote .topContainerQuote .container-md,
    #caseSectionQuote .topContainerQuote .container-sm,
    #caseSectionQuote .topContainerQuote .container-xl,
    #caseSectionQuote .topContainerQuote .container-xxl {
        max-width: unset !important;
    }
}

@media screen and (min-width:993px) {
    #caseSectionQuote .topContainerQuote {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

}

@media screen and (max-width:992px) {
    #caseSectionQuote .topContainerQuote {
        flex-wrap: wrap !important;
    }

    #caseSectionQuote .imgContainerQuote {
        display: flex;
        float: unset !important;
        align-items: unset !important;

        width: 100% !important;
        justify-content: center !important;
    }
}

/* 
INICIO TIPOGRAFIA */
@media screen and (min-width:769px) {
    #caseSectionQuote .imgContainerQuote {
        display: flex;
        width: 75%;
        max-width: unset !important;
        justify-content: flex-end;
    }

    .caseSectionMain1 .caseTitleContainer h2 {
        font-family: var(--font-SpaceTTF) !important;
    }

    .caseSectionMain1 .caseDesc p {
        font-family: var(--font-SpaceTTF) !important;
        text-align: justify;
    }

    .caseSectionMain1 .textContainer2 h2 {
        font-family: var(--font-SpaceTTF) !important;
    }

    .caseSectionMain1 p {
        font-family: var(--font-SpaceTTF) !important;
        text-align: justify;
    }

    .caseSectionCard h2 {
        font-family: var(--font-SpaceTTF) !important;
    }

    /* SUBTITULO CARD */
    #caseSectionCard .card-subtitle p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1.5rem !important;
        text-align: justify;
    }

    .caseSectionCard .card .liStyleCard {
        font-family: var(--font-SpaceTTF) !important;
        text-align: justify;
        font-size: 1.35rem !important;
        font-weight: 300 !important;
    }

    .caseSectionCard .card-subtitle p,
    .caseSectionCard li {
        font-size: 1.35rem !important;
        text-align: justify;
        font-weight: 400 !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quotedNomePessoa2 h6 {
        font-size: 1.5rem !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quotedNomePessoa h6 {
        font-size: 1.5rem !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quoteTextContent .quoteIcon {
        height: 39px !important;
        width: unset !important;
    }
}

@media screen and (min-width:426px) and (max-width: 768px) {
    .caseSectionMain1 .caseTitleContainer h2 {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 3rem !important;
    }

    .caseSectionMain1 .caseDesc p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1.25rem !important;
        text-align: justify;
    }

    .caseSectionMain1 .textContainer2 h2 {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 2.5rem !important;
    }

    .caseSectionMain1 p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1.25rem !important;
        text-align: justify;
    }

    .caseSectionCard h2 {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 2.5rem !important;
    }

    /* SUBTITULO CARD */
    #caseSectionCard .card-subtitle p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1.25rem !important;
        text-align: justify;
        font-weight: 400 !important;
    }

    .caseSectionCard .card .liStyleCard {
        font-family: var(--font-SpaceTTF) !important;
        text-align: justify;
        font-size: 1.25rem !important;
        font-weight: 300 !important;
    }

    .caseSectionCard .card-subtitle p,
    .caseSectionCard li {
        font-size: 1.25rem !important;
        text-align: justify;
        font-family: var(--font-SpaceTTF) !important;
        font-weight: 400 !important;
    }

    #caseSectionQuote .quotedNomePessoa2 h6 {
        font-size: 1.45rem !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quotedNomePessoa h6 {
        font-size: 1.45rem !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quoteTextContent .quoteIcon {
        height: 39px !important;
        width: unset !important;
    }

    #caseSectionQuote .imgMain {
        right: auto !important;
    }
}

@media screen and (max-width:425px) {
    #caseSectionCard .card-body {
        padding: 27px 12px !important;
    }

    .caseSectionMain1 .caseTitleContainer h2 {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 2.25rem !important;
    }

    .caseSectionMain1 .caseDesc p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1rem !important;
        text-align: justify;
    }

    .caseSectionMain1 .textContainer2 h2 {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 2rem !important;
    }

    .caseSectionMain1 p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1rem !important;
        text-align: justify;
    }

    .caseSectionCard h2 {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 2rem !important;
    }

    /* SUBTITULO CARD */
    #caseSectionCard .card-subtitle p {
        font-family: var(--font-SpaceTTF) !important;
        font-size: 1rem !important;
        text-align: justify;
        font-weight: 400 !important;
    }

    .caseSectionCard .card .liStyleCard {
        font-family: var(--font-SpaceTTF) !important;
        text-align: justify;
        font-size: 1rem !important;
        font-weight: 300 !important;
    }

    .caseSectionCard .card-subtitle p,
    .caseSectionCard li {
        font-size: 1rem !important;
        text-align: justify;
        font-family: var(--font-SpaceTTF) !important;
        font-weight: 400 !important;
    }

    #caseSectionQuote .quotedNomePessoa2 h6 {
        font-size: 1.15rem !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quotedNomePessoa h6 {
        font-size: 1.15rem !important;
        font-family: var(--font-SpaceTTF) !important;
    }

    #caseSectionQuote .quoteTextContent .quoteIcon {
        height: 39px !important;
        width: unset !important;
    }

    #caseSectionQuote .imgMain {
        right: auto !important;
    }
}