#casesSection {
    margin-top: 75px !important;
    gap: 50px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: #001328;
    font-family: var(--font-SpaceTTF) !important;
    padding-bottom: 4rem;
}

@media (min-width: 1400px) {

    #casesSection .container,
    #casesSection .container-lg,
    #casesSection .container-md,
    #casesSection .container-sm,
    #casesSection .container-xl,
    #casesSection .container-xxl {
        max-width: 1408px !important;
    }
}

#casesSection .containerCases {
    display: flex;
    flex-direction: column;
}

#casesSection .containerCases p {
    font-family: var(--font-SpaceTTF) !important;
    font-weight: 400 !important;
    opacity: 0.9 !important;
    color: #011328 !important;
    font-size: 1.5rem !important;
}

#casesSection .descTextContainer p {
    font-size: var(--font-size-lg) !important;
    font-family: var(--font-SpaceTTF) !important;
    font-weight: 400 !important;
    color: #011328 !important;
    height: 100%;
    width: auto;
    top: 0;
    line-height: 28px;
    display: inline-block;
}

#casesSection .pagetitle {
    font-family: var(--font-SpaceTTF) !important;
    line-height: 34px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
}

#casesSection .pagetitle h1 {
    font-size: 3.5rem;
    font-family: var(--font-SpaceTTF) !important;
    color: var(--color-forestgreen);
    font-weight: 700;
}

#casesSection .btnCase {
    cursor: pointer;
    background-color: var(--color-forestgreen);
    display: flex;
    border-radius: var(--br-21xl);
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 276px;
    min-width: 206px;
    height: 60px;
}

#casesSection .btnCase label {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-SpaceTTF) !important;
    color: var(--color-white);
}

#casesSection .caseContent {
    font-family: var(--font-SpaceTTF) !important;
    font-size: var(--font-size-7xl);
    color: var(--color-forestgreen);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
}

#casesSection .casesTextContainer {
    font-family: var(--font-SpaceTTF) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

#casesSection .caseTitleText {
    font-family: var(--font-SpaceTTF) !important;
    margin: 0;
}

#casesSection .caseContentContainer {
    font-family: var(--font-SpaceTTF) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
}

#casesSection .caseTitleText h2 {
    font-family: var(--font-SpaceTTF) !important;
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}

#casesSection .descTextContainer {
    font-size: var(--font-size-lg);
    color: var(--color-midnightblue);
    display: flex;
}


#casesSection .imgContainer {
    max-width: 512px;
    max-height: 290px;
}

.containerCases h2 {
    font-size: 1.5rem !important;
}

.containerCases h5 {
    font-size: 1rem !important;
}

.containerCases p {
    font-size: 0.9rem !important;
}

@media screen and (max-width: 768px) {
    #casesSection .casesTextContainer {
        margin-top: 18px;
    }

    #casesSection .containerCases p {
        font-family: var(--font-SpaceTTF) !important;
        font-weight: 400 !important;
        opacity: 0.9 !important;
        color: #011328 !important;
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 700px) {
    #casesSection .descTextContainer p {
        height: 100%;
        width: auto;
        text-align: justify;
        top: 0;
        line-height: auto;
        display: flex;
        font-size: var(--font-size-base) !important;
        color: var(--color-midnightblue);
        font-weight: 200;
    }

    #casesSection .btnCase {
        align-self: flex-start;
    }

    #casesSection .caseTitleText {
        align-self: flex-start !important;
        text-align: left !important;
        justify-content: baseline;
        max-width: none;
        max-height: none;
        margin: 0;
    }

    #casesSection .casesTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        margin-top: 18px;
    }

    #casesSection .caseContent {
        max-height: none;
        gap: 0px;
        margin-top: 0px;
        max-width: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
        justify-content: space-evenly;
    }

    #casesSection .caseContentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        font-size: var(--font-size-xl);
        color: var(--color-white);
    }
}

@media (min-width: 768px) {
    .containerCases h2 {
        font-size: 2rem !important;
    }

    .containerCases h5 {
        font-size: 1.2rem !important;
    }

    .containerCases p {
        font-size: 1rem !important;
    }
}

@media (min-width: 992px) {
    .containerCases h2 {
        font-size: 2rem !important;
    }

    .containerCases h5 {
        font-size: 1rem !important;
    }

    .containerCases p {
        font-size: 1.2rem !important;
    }

    #casesSection .btnCase {
        cursor: pointer;
        background-color: var(--color-forestgreen);
        display: flex;
        border-radius: var(--br-21xl);
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: var(--font-SpaceTTF) !important;
        width: 206px;
        height: 52px;
    }

    #casesSection .btnCase label {
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-SpaceTTF) !important;
        color: var(--color-white);
    }
}

/* Large Screen Styles */
@media (min-width: 1200px) {
    .containerCases h2 {
        font-size: 2rem !important;
    }

    .containerCases h5 {
        font-size: 1.6rem !important;
    }

    .containerCases p {
        font-size: 1.4rem !important;
    }

    #casesSection .btnCase {
        cursor: pointer;
        background-color: var(--color-forestgreen);
        display: flex;
        border-radius: var(--br-21xl);
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 276px;
        height: 60px;
    }

    #casesSection .btnCase label {
        font-size: 1.25rem;
        font-weight: 400;
        font-family: var(--font-SpaceTTF) !important;
        color: var(--color-white);
    }
}