#certificadosCarouselSection {
    box-sizing: border-box;
    background-image: url(../../public/CertCarouselBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 45px;
    padding-bottom: 45px;
    text-align: left;
    font-size: var(--font-size-41xl);
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
}

#certificadosCarouselSection .carousel-control-next {
    position: absolute;
}

#certificadosCarouselSection .carousel-control-next-icon {
    background: no-repeat padding-box;
    object-fit: cover;
    background-image: none;
}

#certificadosCarouselSection .carousel-control-prev-icon {
    background-image: none;
}

#certificadosCarouselSection .containerSectionCertificados {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 45px;
    gap: 65px;
}

#certificadosCarouselSection .certContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#certificadosCarouselSection .certificadoImg {
    padding-bottom: 38px;
    max-width: 192px;
}


#certificadosCarouselSection .carousel-item {
    transition: none !important;
}

#certificadosCarousel .carousel-control-next,
.carousel-control-prev {
    width: 12.5% !important;
}

#certificadosCarousel .carousel-control-next-icon,
.carousel-control-prev-icon {
    width: unset !important;
}

#certificadosCarousel .carousel-inner {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1365px;
    max-height: 523px;
    min-height: 523px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 22px 20px 60px #8AD19465;
    border-radius: 25px;
    opacity: 1;
    overflow: unset;
    overflow-x: unset;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

#certificadosCarouselSection .sectionTitle h2 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-bottom: 2rem !important;
    flex-direction: row;
    gap: 23px;
    text-align: left;
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#certificadosCarouselSection .casesTitle {
    display: flex;
    padding-top: 3rem;
    color: #36bad1;
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--font-SpaceTTF) !important;
    opacity: 1;
    letter-spacing: 0px;
    padding-bottom: 2.25rem;
}

#certificadosCarouselSection .sectionSubTitle {
    display: flex;
    letter-spacing: 0px;
    opacity: 0.85;
    line-height: 42px;
    text-align: left;
    font-family: var(--font-SpaceTTF) !important;
    color: #001328;
    padding-bottom: 1.5rem !important;
    font-size: 1.5rem;
    font-weight: 300;
}

#certificadosCarousel .carousel-item {
    flex: 0 0 auto;
    margin-left: 4%;
    margin-right: -69.997% !important;
}

#certificadosCarousel .carousel-inner::-webkit-scrollbar {
    display: none;
}


#certificadosCarouselSection .textCertContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 11px;
}

#certificadosCarouselSection .textCertContainer .certText {
    max-width: 260px;
    max-height: 60px;
    font-size: 1rem;
    font-family: var(--font-SpaceTTF) !important;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
}

#certificadosCarouselSection .certTitle h5 {
    max-width: 172px;
    max-height: 35px;
    color: var(--color-forestgreen);
    font-size: 1.5rem;
    font-family: var(--font-SpaceTTF) !important;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}

#certificadosCarousel .carousel-control-prev-icon {
    background-image: none;
}

#certificadosCarousel .carousel-control-next-icon {
    background-image: none;
}

#certificadosCarousel .carousel {
    padding-top: 6rem;
}

@media screen and (max-width: 576px) {
    #certificadosCarousel .carousel-item {
        margin-right: 3% !important;
        margin-left: 0px !important;
    }

    .certTitle h5,
    .certText {
        font-size: 0.875rem;
    }
}

@media (min-width: 577px) and (max-width: 992px) {

    .certTitle h5,
    .certText {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    .certTitle h5,
    .certText {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 512px) {
    #certificadosCarouselSection .sectionTitle h2 {
        font-size: 2.5rem !important;
        margin-bottom: 1rem !important;
    }

    #certificadosCarousel .carouselBtn {
        width: 103px;
    }

    #certificadosCarousel .carouselBtn span {
        font-size: 0.55rem;
    }

    #certificadosCarousel .carousel-control-prev-icon img {
        max-height: 32px !important;
        max-width: 32px !important;
        flex-shrink: 1;
    }

    #certificadosCarousel .carousel-control-next-icon img {
        max-height: 32px !important;
        max-width: 32px !important;
        flex-shrink: 1;
    }
}

@media (max-width: 991px) {
    #certificadosCarousel .carousel-control-prev-icon img {
        max-height: 48px !important;
        max-width: 48px !important;
        flex-shrink: 1;
    }

    #certificadosCarousel .carousel-control-next-icon img {
        max-height: 48px !important;
        max-width: 48px !important;
        flex-shrink: 1;
    }
}

@media (min-width: 768px) and (max-width: 1001px) {
    #certificadosCarousel .certBox h6 {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    #certificadosCarousel .certBox p {
        font-size: 0.95rem;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    #certificadosCarousel .certBox h6 {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    #certificadosCarousel .certBox h6 {
        font-size: 1.1rem;
    }
}