#selectRowsContainer .dropdown-menu {
    display: unset !important;
    color: #011328 !important;
}

#selectRowsContainer .dropdown-menu .listaSelectCustom {
    border: none !important;
    padding: 0.5em;
    background-color: #fff;
    color: #011328;
}

.errorsDivs {
    padding-left: 1.35rem !important;
    /* 
    padding-bottom: 2rem !important; */
}

.erroMsg {
    font-size: 1rem !important;
    text-align: left;
}

@media screen and (max-width: 765px) {
    .errorsDivs {
        padding-left: 1.15rem !important;
    }

    .erroMsg {
        font-size: 1rem !important;
        text-align: justify !important;
    }
}

@media screen and (max-width: 565px) {
    .errorsDivs {
        padding-left: 1.05rem !important;
        padding-bottom: 1.5rem !important;
    }
}

@media screen and (max-width: 455px) {
    .errorsDivs {
        padding-left: 0.85rem !important;
    }

    .erroMsg {
        font-size: 0.95rem !important;
        text-align: justify;
    }
}

.listaSelectCustom {
    overflow: unset !important;
    z-index: 9999999999 !important;
    border: 1px solid #599551;
    border-radius: 20px;
    background-color: #fff;
    color: #011328;
    width: 95% !important;
}

.fontPlaceHolder {

    font-family: var(--font-space-grotesk) !important;
    font-size: 1rem !important;
    font-weight: 200 !important;
}

.listaSelectCustom li {
    display: flex !important;
    padding: 1rem !important;
    height: 100%;
    line-height: 1rem !important;
    font-size: 1.15rem;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0px;
    color: #011328 !important;

}

.listaSelectCustom li:hover {
    background-color: rgba(83, 153, 60, .25);
    cursor: pointer;
    border-radius: 8px !important;
}

.custom-combobox {
    display: flex;
    flex-wrap: wrap;
    min-height: 77px;
    border: 1px solid #599551;
    border-radius: 20px;
    opacity: 1;
    padding-left: 0.75rem;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

@media screen and (max-width: 375px) {
    #modalProduto .custom-combobox {
        padding: 35% 25% 35% 3%;

    }

    #modalProduto .custom-label {
        z-index: 8;
        position: absolute;
        top: -13%;
        left: 3%;
    }

    #modalProduto .fontPlaceHolder {
        font-family: var(--font-space-grotesk) !important;
        font-size: 0.75rem !important;
        font-weight: 200 !important;
        /*  padding: 15%; */
    }
}

.dropdownSelect {
    float: right;
    width: 26px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    margin-right: 35px;
}


.custom-combobox:hover {

    border-color: #53993C;
    outline: 2px solid #53993c !important;
    box-shadow: 0 0 0 0.25rem rgba(83, 153, 60, .25) !important;
}


.custom-combobox:focus {
    border-color: #53993C;
    box-shadow: none !important;

}

.custom-combobox::-ms-expand,
.custom-combobox::after {
    display: none;
}


.form-check-input:checked {
    background-color: #53993c;
    border-color: #53993c;
}

.form-check-input:focus {
    border-color: #53993c;
    outline: 2px solid #53993c !important;
    box-shadow: 0 0 0 0.25rem rgba(83, 153, 60, .25) !important;
}

textarea:focus {
    border-color: #53993c;
    outline: 2px solid #53993c !important;
    box-shadow: 0 0 0 0.25rem rgba(83, 153, 60, .25) !important;
}

textarea:hover {
    border-color: #53993C;
    outline: 2px solid #53993c !important;
    box-shadow: 0 0 0 0.25rem rgba(83, 153, 60, .25) !important;
}


.custom-checkbox:focus {
    outline: 2px solid #53993c !important;
    box-shadow: 0 0 0 0.45rem rgba(#53993c, 0.25) !important;
}

select.form-select {
    color: var(--color-gray-200) !important;

}

.custom-select-style option:checked {
    background-color: rgba(var(--color-forestgreen), .85) !important;
    color: var(--color-gray-200) !important;
}

select.form-select::after {
    background-color: rgba(var(--color-forestgreen), .85) !important;
    color: var(--color-gray-200) !important;

}

select.form-select option {
    font-family: var(--font-space-grotesk) !important;
    background-color: #fff !important;
    color: var(--color-gray-200) !important;

}

.form-select option:hover {
    background: rgba(0, 19, 40, .85) !important;
}