    .rowBotFooter {
        display: flex !important;
        justify-content: center !important;
    }

    .rowTopFooter {
        display: flex !important;
        justify-content: center;
    }

    .fontColorFooterTxt {
        color: #011328;
    }

    .iconsFooter {
        width: 33px;
        height: 33px;
        background: #53993C 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    footer ul,
    footer li,
    footer a {
        padding: 0px !important;

    }

    footer li {
        max-width: 268px;
    }

    .topFooter {
        min-height: 320px;
        display: flex;
        align-content: space-between;
    }

    .bottomFooter {
        height: 46px;
        color: #fff;
        display: flex;
        font-size: var(--font-size-base);
        background-color: var(--color-gray-200) !important;
        align-items: center;
        justify-content: center;
    }

    @media screen and(max-width: 998px) {
        .topFooter {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 768px) {
        .rowBotFooter {
            display: flex !important;
        }

        .rowTopFooter {
            display: flex !important;
        }
    }


    @media screen and (max-width:991px) {

        footer a {
            font-size: 0.875rem !important;
            font-weight: 500;
        }

        footer ul,
        li,
        a {
            margin-bottom: 0.2rem !important;
            font-weight: 500;
        }

        footer #footerLogoCol {
            padding-right: 0px !important;
            padding-left: auto !important;
        }
    }


    @media screen and (max-width:876px) {

        footer h2 {
            font-size: 1.125rem !important;
        }

        footer ul,
        li,
        a {
            font-size: 0.875rem !important;
            margin-bottom: 0.2rem !important;
        }

        #footerContatoCol li {
            display: flex;
            max-width: fit-content;
        }
    }

    @media screen and (max-width:531px) {
        .rowBotFooter {
            display: flex !important;
            flex-wrap: wrap !important;
            flex-direction: column !important;
            align-content: center;
            align-items: center;
            justify-content: center;
            gap: unset !important;
        }
    }

    @media screen and (max-width: 769px) {
        footer h2 {
            font-size: 1.5rem !important;
        }

        .rowBotFooter {
            gap: 4.25rem !important;
        }

        .rowTopFooter {
            gap: 4.25rem !important;
        }
    }

    @media screen and (max-width:426px) {
        .topFooter {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .rowBotFooter {
            display: flex !important;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            gap: unset !important;
        }

        .rowTopFooter {
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    @media (max-width:536px) {
        #footerMapaCol .ajusteMap {
            min-width: 82px;
        }

        #rowTopFooter {
            display: flex;
            align-content: space-between !important;
        }
    }


    @media screen and (min-width:375px) and (max-width:425px) {
        footer .rowTopFooter {
            gap: 1rem !important;
        }

        #footerLogoCol {
            padding-right: 1rem !important;
            min-height: 140px !important;
        }

    }

    @media screen and (max-width:374px) {
        .rowTopFooter {
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .rowBotFooter {
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        #footerLogoCol {
            padding-right: 1rem !important;
            min-height: 140px !important;
        }
    }