@media (max-width: 428px) {
    .liNavBarMobile {
        font-family: var(--font-SpaceTTF) !important;
        font-size: var(--font-size-sm) !important;
    }

    #navbarOffcanvasLg .dropdown-item {
        font-family: var(--font-SpaceTTF) !important;
        font-size: var(--font-size-sm) !important;
    }

    #itensSideBar .btnLoginMobile {
        margin: 30px 0px 0px 0px !important;
        border: 1px solid #fff !important;
        border-radius: 40px;
        background-color: #fff !important;
        padding: 5px 0px !important;
        text-align: center !important;
        width: 80% !important;
    }

    #itensSideBar .btnLogin {
        font-size: var(--font-size-base) !important;
    }
}

@media (max-width: 991px) {
    #sectionHomeCarousel .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: -2px !important;
        height: 100% !important;
    }

    #navbarOffcanvasLg {
        width: 33% !important;
    }

    #itensSideBar .btnLoginMobile {
        margin: 30px 0px 0px 0px !important;
        border: 1px solid #fff !important;
        border-radius: 40px;
        background-color: #fff !important;
        padding: 10px 60px;
        text-align: center !important;
    }

    #itensSideBar .btnLogin {
        font-size: 1.25rem !important;
    }
}

@media (max-width: 700px) {
    #navbarOffcanvasLg {
        width: 40% !important;
    }
}

@media (max-width: 559px) {
    #navbarOffcanvasLg {
        width: 50% !important;
    }
}

#navbarOffcanvasLg {
    background-color: #011328;
}

.bgNavBarDivMobile {
    background-color: #011328;
}

#navbarOffcanvasLg .bgNavBarDivMobile {
    border-bottom: 2px solid #fff !important;
}

#bntNavBarMobile {
    border: none;
}

.offcanvas-title {
    color: var(--color-white);
}

.btn-close-white {
    opacity: 1 !important;
}

.liNavBarMobile {
    color: var(--color-white) !important;
    font-weight: 400;
    font-family: var(--font-SpaceTTF) !important;
    font-size: 1.25rem;
    letter-spacing: 0px;
    opacity: 1;
}

.navItemMobile {
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbarOffcanvasLg .navbar-nav .dropdown-menu {
    border: none !important;
    text-align: left !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--color-gray-200) !important;
}


#navbarOffcanvasLg .dropdown-item {
    border: none !important;
    text-align: left !important;
    font-family: var(--font-SpaceTTF) !important;
    font-size: var(--font-size-base);
    letter-spacing: 0px !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: var(--color-white) !important;
}

#itensSideBar .btnLoginMobile {
    margin: 30px 0px 0px 0px !important;
    border: 1px solid #fff !important;
    border-radius: 40px;
    background-color: #fff !important;
    opacity: .75;
    text-align: center !important;
}

#itensSideBar .btnLogin {
    color: #011328;
    font-weight: 600;
}

.dropdown-toggle::after {
    display: none !important;
}