/* IMPORTANTE OVERRIDER DO CONTAINER DO BOOTSTRAP: */
#produtoMainSection .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#produtoMainSection .img-fluid {
    width: auto !important;
    min-width: 200px !important;
    min-height: 400px !important;
}

#produtoMainSection .ulStyleCard {
    margin: 0;
    margin-bottom: 17px;
    line-height: 32px;
    font-size: 1.25rem;
}

#produtoMainSection li {
    margin-bottom: 11px !important;
}

#produtoMainSection ul,
#produtoMainSection li,
#produtoMainSection a {
    padding: 0px;
    text-decoration: none !important;
    list-style: none !important;
    line-height: 34px !important;
    max-width: 723px !important;
}

#produtoMainSection li::before {
    content: "•";
    color: #53993c;
    padding-right: 1rem;
}

#produtoMainSection .textoProdMain {
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    color: #001328;
    margin-top: 12px;
    flex-shrink: 1;
    gap: 59px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

#produtoMainSection .textoProdMain p {
    line-height: 34px;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
}

#produtoMainSection .textContainer2 b {
    font-weight: 600;
}

#produtoMainSection .prodTitleContainer {
    text-align: left;
}

#produtoMainSection .prodTitleContainer h2 {
    margin: 0;
    font-size: inherit;
    font-weight: 700;
    font-family: var(--font-SpaceTTF) !important;
    text-align: left;
    letter-spacing: 0px;
    color: #53993C;
    opacity: 1;
}

#produtoMainSection .prodDesc {
    text-align: left;
    flex-direction: row;
    color: #001328;
    gap: 20px;
}

#produtoMainSection .prodDesc h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

#produtoMainSection .prodDesc p {
    margin-bottom: 20px;
    line-height: 34px;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
}

#produtoMainSection .prodDesc p span {
    font-weight: 500;
}

#produtoMainSection .liStyleCard,
#produtoMainSection li {
    font-weight: 400 !important;
}

#produtoMainSection .produtoMainSection {
    font-size: 1rem;
    padding: 20px;
}

#produtoMainSection .produtoMainSection p,
#produtoMainSection ul,
#produtoMainSection li {
    font-size: 1rem !important;
}

#produtoMainSection .produtoMainSection h2,
#produtoMainSection .prodTitleContainer h2 {
    font-size: 3rem !important;
}

@media screen and(max-width:892px) {
    #produtoMainSection .prodDesc h4 {
        text-align: justify;
        font-size: 1.25rem;
    }
}

@media screen and(max-width:426px) {
    #produtoMainSection .textoProdMain {
        padding-left: 0.5rem !important;
    }
}

@media (min-width: 768px) {
    #produtoMainSection .produtoMainSection {
        font-size: 1.25rem !important;
        padding: 40px;
    }

    #produtoMainSection .produtoMainSection p,
    #produtoMainSection ul,
    #produtoMainSection li {
        font-size: 1rem !important;
    }

    #produtoMainSection .produtoMainSection h2,
    #produtoMainSection .prodTitleContainer h2 {
        font-size: 3rem !important;
    }
}

@media (min-width: 992px) {
    #produtoMainSection .produtoMainSection {
        font-size: 1.625rem !important;
        padding: 60px;
    }

    #produtoMainSection .produtoMainSection p,
    #produtoMainSection ul,
    #produtoMainSection li {
        font-size: 1.25rem !important;
    }

    #produtoMainSection .produtoMainSection h2,
    #produtoMainSection .prodTitleContainer h2 {
        font-size: 3rem !important;
    }
}

@media (min-width: 1600px) {
    #produtoMainSection .row {
        gap: 35px;
    }
}