#quoteCarouselSection .carousel-controls {
    transform: translateX(+10%);
    display: flex;
    flex-wrap: nowrap;
    max-width: 185px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}

#quoteCarouselSection {
    min-height: 906px;
    padding-top: 2rem;
    display: flex;
    align-content: center;
    font-family: var(--font-SpaceTTF) !important;
}

#quoteCarouselSection .carousel-control-prev,
#quoteCarouselSection .carousel-control-next {
    background: none;
    border: none;
}

#quoteCarouselSection .carousel-control-next {
    opacity: 1;
}

#quoteCarouselSection .carousel,
#quotesCarousel .carousel-inner {
    overflow: visible;
    display: flex;
    flex-direction: column;
}

#quoteCarouselSection .control-icon {
    opacity: 1;
    height: auto;
}

#quoteCarouselSection .quotedContainer {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-start;
    gap: 138px;
}

#quoteCarouselSection .containerSection4 {
    margin-top: 59px;
    padding-bottom: 56px;
    display: flex;
    box-sizing: border-box;
    gap: 89px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

#quoteCarouselSection .textoQuote {
    font-family: var(--font-SpaceTTF) !important;
    font-weight: 300;
    font-size: 1.125rem;
    text-align: left;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
}

#quoteCarouselSection .sectionTitle {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    gap: 23px;
    text-align: left;
    font-weight: 600;
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#quotesCarousel .nextImgPessoa {
    display: flex;
    gap: 18px;
    position: absolute;
    z-index: 40;
    top: 34px;
    right: -173px;
    max-height: 268px;
    max-width: 258px;
}

#quotesCarousel .imgNext1,
.imgNext2 {
    position: relative;
}

#quotesCarousel .imgNext1 {
    position: relative;
    opacity: 0.6;
}

#quotesCarousel .imgNext2 {
    position: relative;
    opacity: 0.4;
}

#quoteCarouselSection .sectionTitle h2 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    gap: 23px;
    text-align: left;
    font-weight: 700;
    color: var(--color-forestgreen);
    font-family: var(--font-SpaceTTF) !important;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#quoteCarouselSection .quoteNomePessoa,
.quoteNomePessoa h3 {
    max-width: 387px;
    max-height: 78px;
    text-align: left;
    font-size: 3.625rem;
    font-family: var(--font-SpaceTTF) !important;
    line-height: 84px;
    letter-spacing: 0px;
    color: #001328;
    opacity: 1;
}

#quoteCarouselSection .containerImgs {
    gap: 18px;
}

#quoteCarouselSection .prevbtndepo-icon {
    min-width: 48px;
}

#quoteCarouselSection .nextbtndepo-icon {
    min-width: 48px;
}

#quoteCarouselSection .quoteIconBgn {
    display: flex;
    flex-shrink: 2 !important;
    justify-content: flex-start;
    flex-direction: row;
}

#quotesCarousel .textQuoteContainer {
    min-height: 624px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 29px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

#quotesCarousel .minH346W236 {
    min-height: 346px;
    min-width: 236px;
}

@media (max-width: 991px) {
    #quoteCarouselSection .quoteIconBgn {
        width: 50px;
        height: 40px;
    }

    #quotesCarousel {
        margin-top: 0px !important;
    }
}

@media (max-width: 767px) {
    #quotesCarousel .textQuoteContainer {
        min-height: 500px;
    }

    #ImgQuoteCarousel {
        margin-top: 15px;
    }

    #dadosQuoteCarousel {
        margin-top: 10px;
    }

    #itensQuoteCarousel {
        display: flex;
        flex-direction: column-reverse !important;
    }

    #itensQuoteCarousel .quotedImgPessoaMobile {
        height: 1rem;
    }

    #quoteCarouselSection .sectionTitle h2 {
        font-size: 2.5rem;
    }

    #dadosQuoteCarousel .quoteNomePessoa h3 {
        font-size: 1.875rem;
    }

    #nextImgCarouselQuotes {
        display: none;
    }

    #quotesCarousel .sectionTitle h2 {
        font-size: 3.75rem;
    }

    #quotesCarousel .textoQuote,
    #quotesCarousel h3 {
        font-size: 0.9rem;
    }

    #quotesCarousel .quoteCarouselContainer {
        padding: 20px;
    }

    #quotesCarousel .carousel-inner {
        flex-direction: row;
        align-items: center;
    }

    #quotesCarousel .carousel-item .row {
        flex-direction: row;
        align-items: center;
    }

    #quotesCarousel .nextImgPessoa img {
        display: none;
    }

    #quoteCarouselSection .prevbtndepo-icon {
        min-width: 42px;
    }

    #quoteCarouselSection .nextbtndepo-icon {
        min-width: 42px;
    }
}

@media (min-width: 768px) {
    #quotesCarousel .textoQuote {
        font-size: 1rem;
    }

    #quotesCarousel .sectionTitle h2 {
        font-size: 3rem;
    }

    #quotesCarousel .quoteNomePessoa h3 {
        font-size: 2.25rem;
    }

    #quotesCarousel .quoteCarouselContainer {
        padding: 40px;
    }

    #quotesCarousel .nextImgPessoa img {
        display: none;
    }
}

@media (min-width: 992px) {
    #quotesCarousel .textoQuote {
        font-size: 1.1rem;
    }

    #quotesCarousel .quoteNomePessoa h3 {
        font-size: 2.875rem;
    }

    #quotesCarousel .quoteCarouselContainer {
        padding: 60px;
    }
}

@media (min-width:1204px) {
    #quotesCarousel .quoteNomePessoa h3 {
        font-size: 3.625rem;
    }
}

@media (min-width: 1400px) {
    #quotesCarousel .nextImgPessoa img {
        display: flex;
    }
}